/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Righteous);
/* line 51, ../sass/screen.scss */
body {
  font-family: "Fira Sans Condensed", sans-serif;
}

/* line 55, ../sass/screen.scss */
.panel_login {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
/* line 59, ../sass/screen.scss */
.panel_login > .panel {
  border-color: #005c00;
}
/* line 62, ../sass/screen.scss */
.panel_login > .panel > .panel-heading {
  background-color: green;
  border-color: #005c00;
}

/* line 69, ../sass/screen.scss */
.navbar_top {
  background-color: green;
  border-color: #005c00;
  border-radius: 0;
}
/* line 74, ../sass/screen.scss */
.navbar_top .navbar-brand {
  color: #ffffff;
}
/* line 42, ../sass/screen.scss */
.navbar_top .navbar-brand:hover, .navbar_top .navbar-brand:focus, .navbar_top .navbar-brand:active {
  text-decoration: none;
  color: #ffffff;
  background-color: none;
}
/* line 79, ../sass/screen.scss */
.navbar_top .navbar-nav > li > a {
  color: #ffffff;
}
/* line 42, ../sass/screen.scss */
.navbar_top .navbar-nav > li > a:hover, .navbar_top .navbar-nav > li > a:focus, .navbar_top .navbar-nav > li > a:active {
  text-decoration: none;
  color: #ffffff;
  background-color: #005c00;
}

/* line 85, ../sass/screen.scss */
.panel_menu {
  border-color: #005c00;
}
/* line 88, ../sass/screen.scss */
.panel_menu > .panel-heading {
  background-color: green;
  border-color: #005c00;
}
/* line 95, ../sass/screen.scss */
.panel_menu > .list-group > .list-group-item > a {
  color: green;
}
/* line 42, ../sass/screen.scss */
.panel_menu > .list-group > .list-group-item > a:hover, .panel_menu > .list-group > .list-group-item > a:focus, .panel_menu > .list-group > .list-group-item > a:active {
  text-decoration: none;
  color: #00e600;
  background-color: none;
}

/* line 103, ../sass/screen.scss */
.panel_table {
  border-color: #005c00;
}
/* line 106, ../sass/screen.scss */
.panel_table > .panel-heading {
  background-color: green;
  border-color: #005c00;
}
/* line 111, ../sass/screen.scss */
.panel_table > .panel-heading > .btn-group > button {
  background-color: #005c00;
  border-color: #005700;
}
/* line 115, ../sass/screen.scss */
.panel_table > .panel-heading > .btn-group > button > a {
  color: #ffffff;
}
/* line 42, ../sass/screen.scss */
.panel_table > .panel-heading > .btn-group > button > a:hover, .panel_table > .panel-heading > .btn-group > button > a:focus, .panel_table > .panel-heading > .btn-group > button > a:active {
  text-decoration: none;
  color: #ffffff;
  background-color: none;
}
/* line 126, ../sass/screen.scss */
.panel_table > .panel-body > table > tbody > tr > td > .btn-group > button {
  background-color: green;
  border-color: #005c00;
}
/* line 130, ../sass/screen.scss */
.panel_table > .panel-body > table > tbody > tr > td > .btn-group > button > a {
  color: #ffffff;
}
/* line 42, ../sass/screen.scss */
.panel_table > .panel-body > table > tbody > tr > td > .btn-group > button > a:hover, .panel_table > .panel-body > table > tbody > tr > td > .btn-group > button > a:focus, .panel_table > .panel-body > table > tbody > tr > td > .btn-group > button > a:active {
  text-decoration: none;
  color: #ffffff;
  background-color: none;
}

/* line 140, ../sass/screen.scss */
.panel_form {
  border-color: #005c00;
}
/* line 145, ../sass/screen.scss */
.panel_form > .panel-body > form > button {
  background-color: green;
  border-color: #005c00;
  color: #ffffff;
}
